

.user-names ul li{
	list-style: none;
	padding: 20px;
	width: 500px;
	height: 200px;
	display: inline-table;
	border:1px solid;
}
p{
	color: red;
}
.user-names a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	background-color: #cccccc;
	padding: 5px;
	margin-right: 20px;
}