<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/check.js"></script>
</head>
<body ng-app="myapp">
	<div ng-controller="mycontroller">
		<h3>Enter Your Items Here:</h3>
		<p>
			<input type="text" ng-model="yourItem">
			<button ng-click="additem()">ADD</button>
		</p>
		<ul>
			<li ng-repeat="item in itemList" ng-class='{"task-completed":item.completed==true}'>
				{{$index + 1}}
				<input type="checkbox" ng-model="item.completed" ng-disabled="item.completed" >
				{{item.yourItem}}
			</li>
		</ul>
	</div>
</body>
</html>