.sales-acceleration-solution-wraper{
	background-color:#f5f5f5;
	padding-top: 80px;
}
.sales-acceleration-solution{
	font-family: sans-serif;
	color:  #211e1e;
	font-size: 34px;
	font-weight: 400;
	text-align: center;
	padding-bottom: : 30px;
}

.development-acceleration{
	box-shadow:-10px 17px 24px 0px rgba(35, 33, 33, 0.1);
	width: 341px;
	padding: 10px;
	height: 386px;
	background-color: #ffffff;
	text-align: center;
	margin: 0 auto;
}
.sales-acceleration-title{
	padding: 20px;
	font-weight: 500;
	font-size: 22px;
	color: #211e1e;
}

.sales-acceleration-content{
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	color: #211e1e;
	padding: 20px;
}
.acceleration-video-intro a{
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
}
.playicon{
	padding-right: 10px;
	position: relative;
	top: -1px;
}
.request-demo{
	padding: 20px 10px;
}
.request-demo a{
	font-size: 18px;
	font-weight: 300;
	color: #a4a3a3;
	text-align: center;
	text-decoration: underline;
}
.managed-appointment-content{
	padding-bottom: 40px;
}

.Sales-acceleration-blog{
	background-color: #f5f5f5;
}
.our-sales-acceleration-heading{
	padding: 80px 0;
}
.our-sales-acceleration-heading a{
	text-decoration: none;
	color: #211e1e;
	font-size: 36px;
	font-weight: 400;	
}

.our-sales-acceleration-content{
	text-align: center;
}
.acceleration-details{
	border-radius: 4px;
	background-color:  #ffffff;
	box-shadow: -10px 17px 24px 0px rgba(35, 33, 33, 0.1);
	margin: 0 auto;
	
}
.sales-acceleration-images{
	padding-bottom: 80px;
}
.tony-hushes{
	background-image: url("../images/CnSBackground.jpg");
	padding: 30px 0;
}
.author-statement{
	font-size: 36px;
	font-weight: 400;
	color: #ffffff;
	padding: 20px 0;
}
.tony-hushes-details{
	padding: 40px 0;
}
/*.tony1{
	display: none;
}*/
.top-service-providers{
	text-align: center;
}
.author-name{
	font-size: 22px;
	font-weight: 300;
	text-align: left;
	color: #a4a3a3;
}
.author-name img{
	display: none;
	height: 50px;
	width: 50px;
	margin-right: 5px;
}
.rquest-demo-blog{
	background-color: #ed1c24;
}
.chris-bell-image-details{
	text-align: left;
	padding: 20px 30px;
}
.series{
	font-size: 22px;
	font-weight: 500;
	color: #211e1e;
	text-align: left;
	padding-top: 0;
}
.Chris-Beall{
	color: #ed1c24;
	font-size: 14px;
	font-weight:400;
	padding-left: 2px;
}
.series-content{
	padding-top: 5px;
	height: 80px;
}
.slider{
	text-align: center;
	padding: 80px 0;
	display: none;
}
.slider .slider1{
	cursor: pointer;
  	height: 13px;
  	width: 13px;
 	margin: 0 2px;
  	background-color: #b8b8b8;
 	border-radius: 50%;
  	display: inline-block;
}
.slider .fst-dot{
	background-color: #ed1c24;
}
.request-demo-heading{
	font-size: 56px;
	font-weight: 700;
	color: #ffffff;
	text-align: left;
	/*padding: 20px 0;*/
    padding: 0 0 10px 0;
    margin-top: -15px;
}
.request-demo-content{
	text-align: left;
	padding: 50px 0;
	background: #ef1e23 no-repeat url(../images/arc-reverse.jpg) center bottom;
    padding-bottom: 150px;
    background-size: 100% auto;
}
.not-your-father{
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
	text-align:left;
	padding: 20px 0;
}
.work-with-companies{
	color: #ffffff;
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	margin-bottom: 20px;
}
.request-demo-form{
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}
.request-demo-form .input-name{
	background-color:  #ffffff;
	width: 48%;
	padding: 15px 16px;
}
.input-first{
	float: left;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
}
.input-last{
	float: right;
	border-radius: 3px;
	border: 1px solid #d6d6d6;
}

.input-business-email{
	width: 100%;
	height: 57px;
	border: 1px solid #d6d6d6;
	margin-top: 20px;
	border-radius: 3px;
}
.btn-request-demo{
	width: 100%;
	height: 73px;
	background-color: #ed1c24;
	box-shadow: -3px 2px 10px 0 rgba(237, 28, 36, 0.24);
	color: #ffffff;
	font-weight: 700;
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
	border-radius: 3px;
}
.honors-blog{
	padding-top: 80px;
}	
.honors-images{
	margin: 8px auto 0 auto;
	padding: 0 20px;
}
.sales-hack{
    border: 1px solid #ccc;
    margin: 80px 0;
    padding: 30px 0;
    border-radius: 5px;
}
.get-free-book{
	font-size: 22px;
	font-weight: 700;
	text-align: left;
	color: #211e1e;
	padding: 10px 0;
}

.ebook-details{
	font-weight: 300;
	font-size: 22px;
	text-align: left;
	color: #211e1e;
}
.get-it{
	background-color: #ed1c24;
	box-shadow: -3px 2px 10px 0px rgba(237, 28, 36, 0.24);
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	color: #ffffff;
	padding: 20px;
	line-height: 18px;
	width: 200px;
	margin-top: 30px;
	border-radius: 3px;
}
.btn-get-it-now{
	padding-top: 20px;
}
.acceleration-appointment-setting{
	padding: 80px 0;
}
.footer-builder .center-row-inner{
	margin-bottom: 80px;
}
.getsocial{
	color: #ed1c24;
	font-size: 18px;
}
.footer-background{
	background-color: #000000;
	width: 100%;
}
@media (max-width: 1200px) and (min-width: 959px){
	.reset-container-width .container{
		width: 940px
	}
}
@media (max-width: 768px){
	.development-acceleration{
		margin-bottom: 30px;
	}
	.acceleration-appointment-setting{
		padding-bottom: 50px;
	}
	.acceleration-details{
		margin-bottom: 30px;
	}
	/*.acceleration-details{
		width: 340px;
	}*/
	.author-statement{
		font-size: 32px;
		padding: 10px 0px;
		font-weight: 400;
	}
	.author-name{
		font-weight: 300;
		font-size: 22px;
		padding: 5px 0;
	}
	
	.input-first{
		margin-left: 0;
		margin-top: 20px;
	}
	.input-last{
		margin: 20px 0 0 0;
	}
	.request-demo-form{
		padding-top: 20px;
		text-align: center;
	}
	.get-it{
		margin-top: 0px;
	}
	.series-content{
		height: 135px;
	}
	.tony-hushes{
		padding-bottom: 0;
		overflow: hidden;
	}
	.tony-hushes-details{
		padding-bottom: 0
	}
	.tony2{
	    width: 150%;
	    position: relative;
	    left: -20%;
	    top: -25px;
	}
}


@media (max-width: 767px){
	.author-name{
		margin: 10px 0 30px 0;
	}
	.author-name img{
		display: inline-block;
	}
	.tony2{
		display: none;
	}
	.acceleration-details{
		width: 480px;
	}
	.sales-hack{
		text-align: center;
		padding: 20px;
		margin-top: 40px;
	}
	.service-provider{
		margin-bottom: 30px;
	}
	.request-demo-form .input-name{
		width: 100%;
	}
	.btn-request-demo{
		font-size: 17px;
	}
	.reset-container-width .container{
		width: 100%
	}
	.development-acceleration{
		width: auto;
		height: auto;
	}
	.managed-appointment{
		margin-bottom: 40px;
	}
	.honors-blog{
		padding-top: 40px;
	}
	.sales-acceleration-images{
		padding-bottom: 40px;
	}
	.our-sales-acceleration-heading{
		padding: 40px 0;
	}
	.sales-acceleration-solution-wraper{
		padding-top: 40px;
	}
	.acceleration-appointment-setting{
		padding: 40px 0;
	}
}
@media (max-width: 480px){
	.acceleration-details{
		width: auto;
	}
}

@media (max-width: 958px){
	.series-content{
		height: 120px;
	}
}