<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/event.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myApp">
	<div class="container" ng-controller="myController">
		<div class="input"><input type="text" placeholder="enter First name" ng-model="fstName" width="100px" height="100px" required></div>
		<div class="input"><input type="text" placeholder="enter last name" ng-model="lastName" width="100px" height="100px"></div>
		<div class="input"><input type="text" placeholder="enter email" ng-model="email" width="100px" height="100px"></div>
		<div class="input" ng-click="reset()"><button>RESET</button></div>
	</div>
</body>
</html>