.container{
	width: 230px;
	height: 300px;
	border: 1px solid;
	padding: 5px;
	margin: 10px;
}
.container-wraper{
	margin: 0 auto;
	width: 500px;
	height: 500px;
	padding: 50px;
	border: 1px solid;
}
.row div{
	width: 49px;
	height: 49px;
	border: 1px solid;
	float: left;
	padding: 5px;
	text-align: center;
	margin: 5px;
}
.clear{
	clear: both;
}
.row{
	margin: 5px;
}
.div1{
	font-size: 30px;
	color: red;
	font-family: sans-serif;
	padding: 10px;
}
.fa-close{
	color: red;
	font-size: 50px;
}
.fa-circle-o{
	font-size: 50px;
}
.reset{
	margin: 10px;
	border: 0;
	font-size: 17px;
	font-weight: 400;
	text-align: center;
	background-color: #17a2d4;
	border:0;
	padding: 10px;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}
.div1{
	text-decoration: blink;
	font-size: 50px;
}