<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/valid.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myapp">
	<div class="container" >
		<div class="input-data">
			<h3>Enter Data:</h3>
			<form name="myname" ng-controller="myController">
				<p>
				Name:<input type="text" ng-model="yourName" placeholder="Enter name">
				</p>
				<p>Address:<input type="text" ng-model="yourAdd" placeholder="Enter Address"></p>
				<p>
					Email:<input type="text" ng-model="yourEmail" placeholder="Enter Email">
				</p>
				<p>Contact:<input type="text" ng-model="yourContact" placeholder="Enter Contact"></p>
				<p><button ng-click="ShowData()">Submit</button></p>
			</form>
		</div>
		<div class="show-data">
			<div ng-repeat="data in dataList">
				<p>Name: {{data.yourName}}</p>
				<p>Address: {{data.yourAdd}}</p>
				<p>Email Id: {{data.yourEmail}}</p>
				<p>Contact: {{data.yourContact}}</p>
			</div>
		</div>
	</div>
</body>
</html>