.container{
	width: 350px;
	height: 250px;
	border: 1px solid;
	margin: 0 auto;
}
.calc{
	padding: 20px;
}
.edit-button{
	width: 50px;
	height: 20px;
	border: 0;
	background-color: #cccccc;
	margin: 0 50px;
}