<html>
<head>
	<title></title>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/users.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="myapp">
	<h3>USER DETAILS:</h3>
	<p>Click on name for more details</p>
	<div ng-controller="userController" class="container">
		<input type="text" placeholder="search" ng-model="searchText">
		<div class="user-names">
			<ul>
				<li ng-repeat="user in users|filter:{name:searchText}" >
					<a href="#" ng-click="showDetail(user)">{{user.name}}</a>
					<button ng-click="hideDetails(user)" class="close">X</button>
					<div ng-show='user.showUser'>
						<P>ID:{{user.id}}</p>
						<p>Name:{{user.name}}</p>
						<p>UserName:{{user.username}}</p>
						<p>Email:{{user.email}}</p>
						<p>Phone:{{user.phone}}</p>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>